<% provide(:title, @user.name) %>
<article class='flex items-start flex-wrap'>
  <div class='image-loader w-[80px] h-[80px] mr-2 mb-2 relative shrink-0'>
    <%= gravatar_for @user, class: 'rounded-md' %>
  </div>
  <div>
    <h2>Profile</h2>
    <h3 class='text-xl'><%= @user.name %></h3>
    <dl>
      <dt class='text-sm'>Email</dt>
      <dd><%= @user.email %></dd>
      <dt class='text-sm'>Created</dt>
      <dd><%= @user.created_at.strftime '%B %e' %></dd>
    </dl>
  </div>
</article>
