<% if flash.any? %>
  <div id='flash_messages' 
       class='flex border-2 border-neutral-300 bg-neutral-300 text-neutral-800 drop-shadow-md px-3 pt-3 pb-2 mb-4 empty:hidden' 
       role='alert' 
       aria-live='assertive' 
       aria-atomic='true'>
    <ul>
      <% flash.each do |message_type, message| %>
        <li><%= render "icons/#{message_type}" %><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
