<%= link_to '#', class: 'no-underline border text-yellow-300 border-yellow-300 focus:bg-yellow-300 hover:bg-yellow-300 focus:text-neutral-800 hover:text-neutral-800 focus:shadow-md hover:shadow-md transition-all ease-in-out motion-reduce:transition-none rounded-md leading-none pl-1 pr-2 py-1 text-sm inline-flex items-center' do %>
  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable='false' class="inline h-5 w-5 mr-1" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
  </svg>
  <span class='pt-1'>Follow</span>
<% end %>
